* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  background-color: #212121;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  list-style-type: none;
  margin: 0;
}

.menu .menu_link {
  color: white;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_call {
  margin-top: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #FFFFFF;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  text-align: right;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  border: none;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.subheader .subheader_btn:hover {
  background: linear-gradient(0deg, #168ca3 0%, #3acae7 100%);
}

.subheader .subheader_btn:active {
  width: 170px;
  height: 45px;
}

.promo {
  min-height: 800px;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
  padding: 135px 0 185px 0;
}

.promo .promo_header {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo .promo_subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo .promo_descr {
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.promo .promo_btn {
  display: block;
  margin: 120px auto 0 auto;
  border: none;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 63px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo .promo_btn:hover {
  background: linear-gradient(0deg, #168ca3 0%, #3acae7 100%);
}

.promo .promo_btn:active {
  width: 257px;
  height: 62px;
}

.reasons {
  padding: 20px 0 65px 0;
}

.lable {
  margin: 0 auto;
  width: 113px;
  height: 24px;
  padding: 5px 12px;
  font-weight: 400;
  font-size: 11px;
  background-color: #000;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.title {
  margin-top: 43px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.reasons .reasons_block {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
}

.reasons .reasons_block .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 116px;
  height: 116px;
  background: #1EACC7;
  border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
  width: 340px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}

.reasons .reasons_block .reasons_descr .reasons_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #222222;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}

.mobile .subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/mobile_screen_1.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mobile_screen_2.jpg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mobile_screen_3.jpg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mobile_screen_4.jpg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/mobile_screen_5.jpg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/mobile_screen_6.jpg") center center/cover no-repeat;
}

.mobile_item_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_item_plus {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 100%;
  align-items: center;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

.mobile_item_plus:after {
  content: '';
  display: absolute;
  left: 49%;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

.choise {
  min-height: 856px;
  padding: 20px 0 20px 0;
}
